.hidden {
  display: none
}

.modal-container .sr-only,
.drawer-container .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.dark {
  dialog.modal-container::backdrop {
    background-color: rgba(17, 24, 39, 0.8);
  }

  .modal-header,
  .modal-footer {
    border-color: #4B5563;
  }

  .modal-content {
    background-color: #1F2937;
    color: #ffffff;
  }

  .modal-close-button:hover,
  .modal-close-icon:hover {
    background-color: #6B7280;
    color: #ffffff;
  }
}

:not(.dark) {

  .modal-close-button,
  .modal-close-icon {
    color: #9CA3AF;

    &:hover {
      color: #111827;
      background-color: #E5E7EB;
    }
  }
}

dialog.modal-container::backdrop {
  background-color: rgba(17, 24, 39, 0.7);
}

.modal-container {
  position: relative;

  &[data-header="false"] .modal-header {
    position: absolute;
  }

  &[data-header-divider="true"] .modal-header {
    border-bottom-width: 1px;
  }

  &[data-footer-divider="true"] .modal-footer {
    border-top-width: 1px;
  }

  &[data-padding="true"] .modal-main {
    padding: 1rem;
    padding-top: 0.5rem;
  }

  .modal-main {
    overflow-y: auto;
    max-height: 75vh;
  }

  &[data-title="false"] .modal-title-h {
    display: none;
  }

  &[data-close-button="false"] .modal-close {
    display: none;
  }
}

.modal-inner {
  display: flex;
  padding: 0.25rem;
  padding-top: 5vh;
  justify-content: center;
  align-items: flex-start;
  min-height: 100%;

  @media (min-width: 640px) {
    padding: 1rem;
    padding-top: 5vh;
  }
}

.modal-content {
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  transition-property: all;
  text-align: left;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  max-height: 100vh;

  @media (min-width: 640px) {
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 48rem;
  }
}

.modal-header {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.modal-title {
  line-height: 1.75rem;
  font-weight: 600;
  padding-left: 1rem;
}

.modal-footer {
  display: flex;
  padding: 1rem;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-top-width: 1px;
}

.modal-close {
  margin-right: 1rem;
}

.modal-close-button {
  display: inline-flex;
  padding: 0.375rem;
  margin-left: auto;
  background-color: transparent;
  font-size: 0.875rem;
  line-height: 1.25rem;
  align-items: center;
  border-radius: 0.5rem;
}

.modal-close-icon {
  width: 1.25rem;
  height: 1.25rem;
}

/* Drawer styles */

.dark {
  dialog.drawer-container[data-overlay="true"]::backdrop {
    background-color: rgba(17, 24, 39, 0.8);
  }

  .drawer-header,
  .drawer-footer {
    border-color: #4B5563;
  }

  .drawer-content {
    background-color: #1F2937;
    color: #ffffff;
  }

  .drawer-close-button:hover,
  .drawer-close-icon:hover {
    background-color: #6B7280;
    color: #ffffff;
  }
}

:not(.dark) {
  .drawer-close-button,
  .drawer-close-icon {
    color: #9CA3AF;

    &:hover {
      color: #111827;
      background-color: #E5E7EB;
    }
  }
}

dialog.drawer-container[data-overlay="true"]::backdrop {
  background-color: rgba(17, 24, 39, 0.7);
}

.drawer-container {
  position: relative;

  &[data-header="false"] .drawer-header {
    display: none;
  }

  &[data-header-divider="true"] .drawer-header {
    border-bottom-width: 1px;
  }

  &[data-footer-divider="true"] .drawer-footer {
    border-top-width: 1px;
  }

  &[data-padding="true"] .drawer-main {
    padding: 1rem;
    padding-top: 0.5rem;
  }

  &[data-title="false"] .drawer-title-h {
    display: none;
  }

  &[data-close-button="false"] .drawer-close {
    display: none;
  }
}

.drawer-wrapper {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.drawer-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
}

.drawer-content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background-color: #ffffff;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

.drawer-header {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
@media (min-width: 640px) {
  .drawer-header { padding-left: 1.5rem; padding-right: 1.5rem; }
}

.drawer-title {
  line-height: 1.75rem;
  font-weight: 600;
}

.drawer-main {
  position: relative;
  margin-top: 1.5rem;
  flex: 1;
}

.drawer-footer {
  display: flex;
  flex-shrink: 0;
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 640px) {
  .drawer-footer { padding-left: 1.5rem; padding-right: 1.5rem; }
}

.drawer-close {
  margin-left: 0.75rem;
  display: flex;
  height: 1.75rem;
  align-items: center;
}

.drawer-close-button {
  position: relative;
  display: inline-flex;
  padding: 0.375rem;
  background-color: transparent;
  border-radius: 0.375rem;
  align-items: center;
}

.drawer-close-hit-area {
  position: absolute;
  inset: -0.625rem;
}

.drawer-close-icon {
  width: 1.5rem;
  height: 1.5rem;
}
